.navigationBar {
  height: 80px;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: transparent;
}
.navigationbarafterscroll {
  height: 90px;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: black;
}
.navbutton {
  background: transparent;
  border-color: transparent;
}
.navbutton:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.navscrollbutton {
  background: black;
  border-color: black;
}
.navscrollbutton:hover {
  background-color: black;
  border-color: gray;
}
.footer {
  background: black;
  color: #fff;
}
.carouselcaptiontext {
  bottom: 50%;
  font-family: "Times New Roman", serif;
}
.carouselheading {
  font-size: 70px;
}
.typerwritetext {
  text-shadow: 2px 2px brown;
  font-size: 40px;
}
.section {
  margin-top: 15px;
  padding: 50px;
  margin-bottom: 15px;
}

.skillcard {
  background-color: rgb(255, 255, 255);
  border-radius: 20px !important;
  box-shadow: 2px 2px 9px 5px#a9a7a7;
}
.skillcardeach {
  border-radius: 30px !important;
  width: 11rem;
  height: 10rem;
  box-shadow: 2px 2px 9px #a9a7a7;
}
.abouttext {
  text-align: left;
  padding: 0px 50px;
}
.aboutbuttons {
  margin-top: 50px;
}
.blacksection {
  background-color: black;
  padding: 50px;
}
.titlestyle {
  letter-spacing: 1px;
  text-decoration-line: underline;
  text-align: center;
  font-family: "librebaskerville-italic", serif !important;
}
.content {
  font-family: "librebaskerville-italic", serif !important;
  letter-spacing: 1px;
}
.progress {
  background-color: #dfe4e6;
  height: 10px !important;
}
.font {
  font-family: "librebaskerville-italic", serif !important;
}
.wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.project {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-family: "Satoshi variable", sans-serif !important;
}
.project-container {
  max-width: 1160px;
  margin-right: 60px;
  margin-left: 60px;
  -ms-flex: 1;
  flex: 1;
}
.tabs {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.w-tabs {
  position: relative;
}
.projecttab-menu {
  display: flex;
  overflow: hidden;
  height: 48px;
  margin-bottom: 80px;
  padding: 4px;
  border-radius: 91px;
  background-color: #1f1f1f;
}
.w-tab-menu {
  position: relative;
}
.tab-link {
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 91px;
  background-color: transparent;
  color: #fff;
}
.w-tab-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
.tab-link-current {
  color: #222222;
  background-color: white;
}
.tab-link-current:hover {
  color: black !important;
}
.tab-link:hover {
  color: white;
}
.tab-link-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
